/* CSS VARIABLES */
:root {
  /* neon green */
  --highlight-color: #49ef98;

  /* light gray */
  --main-color: #adadad;
  /* --main-color: lightgray; */

  /* dark gray */
  --main-bg-color: #2e2e2e;
  --secondary-bg-color: lightgray;
}


/* ELEMENTS */
html {
  color: var(--main-color);
  background-color: var(--secondary-bg-color);
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  margin: 0;
  /* min-height: 100vh; */

  font-family: 'Raleway', sans-serif;
  text-align: center;
  /* TODO: add a nice gradient background */
  
  color: var(--main-color);
  background-color: var(--secondary-bg-color);
}

header {
  margin: 0 auto;

  padding: 20px;
  padding-bottom: 40px;
  background-color: var(--main-bg-color);
  padding-top: 60px;
}

main {
  /*margin-bottom: 15rem;*/
  width: 50%;
  margin: 40px auto;
  margin-top: 10rem;

  font-size: 24px;

  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
  position: relative;
}

p {
  font-size: 1.5em;
}

a {
  flex-basis: 50%;
  color: inherit;
  text-decoration: none;
  
}
a:hover {
  text-decoration: none;
  color: var(--highlight-color);
}
a:focus {
  color:lightgray;
  text-decoration: none;
}

footer {
  background-color: var(--main-bg-color);
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 6rem;
  padding-bottom: 3rem;

  font-family: 'Quicksand';
  text-align: center;
}


/* CLASSES */
.fa {
  font-size: 28px;
}

.logo {
  color: var(--highlight-color);
  font-family: 'Quicksand';
  font-size: 6.5rem;
  text-transform: uppercase;

  

}

.title {
  color: var(--main-color);
  font-size: 2.5rem;

  /*border-bottom: 4px solid var(--highlight-color);*/
}

.social-media {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 4px solid var(--highlight-color);
}

.tab-container {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.tab {
  text-transform: uppercase;
}
.tab:hover {
  text-transform: uppercase;
  color: var(--highlight-color);
  cursor: pointer;
}

.whoami {
  font-size: 32px;
}

.call-to-action {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: bold;
  padding-top: 30px;
  /*color: var(--highlight-color);*/
}

.signature {

}
