/* CSS VARIABLES */
:root {
  --color-primary: #18a7ff;

  --color-secondary: #fafafa;

  --bg-color-primary: #3a3a3a;

  --bg-color-secondary: lightgray;

  --border-radius: 8px;
}

/* TAGS */
html {
  height: 100%;
  box-sizing: border-box;
  font-family: "Viga", sans-serif;
  font-size: 16px;
}

body {
  position: relative;
  padding-bottom: 10vh;
  margin: 0;
  background-color: var(--bg-color-primary);
  text-align: center;
  color: var(--color-secondary);
}

header {
  height: 90vh;
  position: relative;
  padding: 10vh 20px 20px;
  background-color: var(--color-primary);
}

svg circle {
  fill: var(--color-primary);
}

svg path {
  fill: var(--color-secondary);
}

main {
  height: 90vh;
  background-color: var(--bg-color-primary);
  color: var(--bg-color-secondary);
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  display: flex;
  align-items: center;
}

p {
  font-size: 20px;
}

a {
  color: inherit;
  font-size: 28px;
  text-decoration: none;
}

footer {
  height: 10vh;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 30px;
  color: var(--color-secondary);
  font-family: "Viga", sans-serif;
  text-align: center;
}

/* CLASSES */
.more-to-come {
  position: absolute;
  left: 0;
  top: 60px;
  transform: rotate(-45deg);
  font-family: "Roboto Slab", serif;
}

.title {
  margin-bottom: 0.5rem;
  font-family: "Viga", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.sub-title {
  margin-bottom: 0.8rem;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  text-align: center;
}

.social-media {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-icon {
  display: flex;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
}

.social-icon a,
.social-icon:hover,
.social-icon:focus {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  color: var(--bg-color-primary);
}

.more-icon {
  position: absolute;
  bottom: 40px;
  left: 50vw;
}

.content {
  position: relative;
  max-width: 40%;
  padding: 2rem;
  margin: auto;
  background: #4e4e4e;
  border-radius: var(--border-radius);
}

.quote-icon {
  position: absolute;
  font-size: 3rem;
  opacity: 40%;
}

.quote-left {
  left: -6rem;
}

.quote-right {
  right: -6rem;
}

.who-am-i {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: var(--color-secondary);
}

.bio {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.call-to-action {
  font-family: "Viga", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--color-secondary);
}

.how-i-built-this {
  text-decoration: underline;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.how-i-built-this:hover {
  color: var(--color-primary);
}

.how-i-built-this:focus,
.how-i-built-this:active {
  color: var(--color-secondary);
}

.signature {
  margin-top: 0.5rem;
  font-family: "Roboto Slab", serif;
  font-size: 0.8rem;
}

/* BREAK POINTS */
@media screen and (max-width: 1200px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 24px;
  }
}
